/**
 * Created by Capricorncd.
 * https://github.com/capricorncd
 * Date: 2022/10/29 21:42:32 (GMT+0900)
 */
@mixin size($value) {
  width: #{$value}px;
  height: #{$value}px;
}

@mixin before($size, $bg: transparent) {
  &::before {
    content: "";

    @include size($size);

    position: absolute;
    left: 50%;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background: $bg;
    pointer-events: auto;
    @content;
  }
}

@mixin anime($name, $seconds) {
  animation: orbit-#{$name} #{$seconds}s linear infinite;

  @include orbit-keyframes($name);
}

@mixin orbit-keyframes($name) {
  // 随机生成开始旋转角度，避免开始时所有恒星都在同一条线上
  $start: math.random(360);
  $end: $start - 360;

  @keyframes orbit-#{$name} {
    from {
      transform: translate(-50%, -50%) rotate(#{$start}deg);
    }

    to {
      transform: translate(-50%, -50%) rotate(#{$end}deg);
    }
  }
}
