@use 'sass:math';

.grid {
  margin: 120px auto  0;
  width: 600px;
  height: 600px;
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  transition: 0.3s;
}

@for $i from 0 through 8 {
  $no: $i + 1;
  span:nth-child(#{$no}) {
    background-color: hsl(calc($i * 20deg) 100% 40%);
  }

  .grid:has(span:nth-child(#{$no}):hover) {
    $r: math.floor(calc($i / 3) + 1);
    $c: $i % 3 + 1;
    $arr: 1fr 1fr 1fr;
    $rows: list.set-nth($arr, $r, 2fr);
    $columns: list.set-nth($arr, $c, 2fr);

    grid-template-rows: $rows;
    grid-template-columns: $columns;
  }
}
